<!DOCTYPE html>
<html lang="en">
<%-include('partials/head.html');%>

    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div class="container">
            <section id="seccion">
                <img src="/img/logo.png" alt="Logo de UPSIN">
                <div class="acercade">
                    <h1 style="text-align: center;">HISTORIA</h1>
                    <p>La Universidad Politécnica de Sinaloa (UPSIN) surge a partir de una correspondencia de los dos
                        niveles de gobierno, Federal y Estatal, compartiendo la misma preocupación de diversificar la
                        oferta
                        educativa en aquellas regiones que carezcan de opciones viables de operar. Además, surge como
                        parte
                        de la propuesta contenida en el Programa Nacional de Educación 2000-2006, que pretende impulsar
                        el
                        desarrollo con equidad de un sistema de educación superior de buena calidad que responda con
                        oportunidad a las demandas sociales y económicas del país y obtenga mejores niveles de
                        certidumbre,
                        confianza y satisfacción de sus resultados.</p>
                    <p>La necesidad de fortalecer la educación superior en el sur de nuestra entidad federativa motivó
                        al
                        Ejecutivo Estatal a crear una institución de educación superior de alta calidad que fuera capaz
                        de
                        formar ciudadanos ejemplares, con dominio de la tecnología de punta y con aptitud para
                        integrarse
                        cabalmente a su entorno. Después de varios estudios de orden de económico y de oferta y demanda
                        educativa, se decidió instalar la UPSIN en la ciudad y puerto de Mazatlán, a su vez que se
                        contaba
                        con las condiciones propicias, tanto en infraestructura educativa como industrial y de
                        prestación de
                        los servicios.
                    </p>
                    <p>Dichos estudios arrojaron la necesidad de crear las carreras de ingeniería en Biotecnología, en
                        Mecatrónica y en Informática. Así, el 30 de agosto de 2004 se crea la UPSIN como un organismo
                        público descentralizado del Estado de Sinaloa, según aparece en el decreto para su creación,
                        publicado en el diario oficial de la fecha anteriormente indicada. El precedente histórico de la
                        UPSIN es la creación del subsistema de Universidades Politécnicas (UUPP) de la Subsecretaría de
                        Educación Superior (SES) en el 2001. Con el apoyo de la Coordinación de las Universidades
                        Politécnicas (CUP), se crea la UPSIN y se implanta el mismo modelo educativo con el que se rigen
                        las
                        UUPP en nuestro país; este modelo educativo plantea la formación profesional basada en
                        competencias
                        y centrado en el aprendizaje significativo del alumno.</p>
                    <p>A partir de la fecha de publicación del decreto de creación, en el diario oficial del estado, se
                        iniciaron los trabajos que se requerían para estar en posibilidades de convocar a aspirantes a
                        ingresar a la UPSIN; conseguir y habilitar el espacio provisional para el desarrollo de las
                        actividades propias de la universidad, entre otros. En febrero de 2005 se lanzó la primera
                        convocatoria para aspirantes a ingresar a la UPSIN y este proceso concluyó con el registro
                        oficial
                        de 138 alumnos, distribuidos en las tres carreras, dando inicio a las actividades académicas el
                        día
                        2 de mayo del mismo año.</p>
                    <p>Al mismo tiempo se lanzó la segunda convocatoria para ingresar a la UPSIN en septiembre de ese
                        mismo
                        año. A partir de entonces, la UPSIN lanza una convocatoria anual con el propósito de iniciar
                        actividades académicas, para cada generación, en el mes de septiembre.</p>
                </div>
            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>

</html>