<!DOCTYPE html>
<html lang="en">
<%-include('partials/head.html');%>

    <body>
        <header>
            <%-include('partials/navegacion.html');%>
        </header>
        <div class="container index">
            <section id="seccion">
                <h1>Frida Sofia Perez Osuna - 2019030711</h1>
                <h2>Universidad Politécnica De Sinaloa</h2>
                <h3>LUNES 4 DE ABRIL DEL 2022 - PROYECTO FINAL</h3>
            </section>
        </div>
        <%-include('partials/footer.html');%>
    </body>

</html>